<body class="landing is-preload">
  <div id="page-wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <nav id="nav">
          <ul>
            <li><a href="/" class="button">Home</a></li>
          </ul>
        </nav>
      </header>

    <!-- Banner -->
      <section id="banner" style="
      background: url('https://c.wallhere.com/photos/1d/b5/1920x910_px_army_artwork_fantasy_Art_Star_Wars-787028.jpg!d');     background-size:     cover;                      /* <------ */
      background-repeat:   no-repeat;
      background-position: center center;  ">
        <h2>Bases de datos no relacionales</h2>
        <p>Obligatorio de Matías Gutierrez y Agustina de Pró.</p>
      </section>

    <!-- Main -->
      <section id="main" class="container">
        <router-outlet></router-outlet>
      </section>

    <!-- Footer -->
      <footer id="footer">
        <ul class="icons">
          <li><a href="https://github.com/2guti2/elk-events" class="icon brands fa-github"><span class="label">Github</span></a></li>
        </ul>
        <ul class="copyright">
          <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
        </ul>
      </footer>

  </div>

</body>
