<section class="box special">
  <header class="major">
    <h3>New Event</h3>
    <h4>Use this form to create events that will be reflected in kibana reports</h4>
    <fieldset>
      <label style="text-align: left; font-weight: bold">User:</label>
      <select tabindex="1" [value]="username" (input)="username = $event.target.value" autofocus> 
        <option value="mgutierrez">mgutierrez</option>
        <option value="iyim">iyim</option>
        <option value="pons">pons</option>
      </select>
    </fieldset>
    <fieldset>
      <label style="text-align: left; font-weight: bold">Description:</label>
      <textarea [value]="description" (input)="description = $event.target.value" placeholder="Description of the event" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button (click)="submit()" class="btn">Submit</button>
    </fieldset>
  </header>
</section>