<div class="row">
  <div class="col-6 col-12-narrower">

    <section class="box special">
      <h3>Events</h3>
      <p>Create events that are saved to a .csv file and sent to Elasticsearch with Logstash.</p>
      <ul class="actions special">
        <li><a href="/events" class="button alt">Start creating events!</a></li>
      </ul>
    </section>

  </div>
  <div class="col-6 col-12-narrower">

    <section class="box special">
      <h3>Event bashboards</h3>
      <p>View Kibana dashboards introducing the dashboard url of the full screen report.</p>
      <ul class="actions special">
        <li><a href="/dashboards" class="button alt">Get me to those reports!</a></li>
      </ul>
    </section>

  </div>
</div>

<div class="row">
  <div class="col-6 col-12-narrower">

    <section class="box special">
      <h3>Create messages</h3>
      <p>Create messages that are going to be saved in a mongodb instance.</p>
      <ul class="actions special">
        <li><a href="/messages/create" class="button alt">Start creating messages!</a></li>
      </ul>
    </section>

  </div>
  <div class="col-6 col-12-narrower">

    <section class="box special">
      <h3>View messages</h3>
      <p>
        Visualize a list of all the created messages that are stored in mongodb.
      </p>
      <ul class="actions special">
        <li><a href="/messages/view" class="button alt">Learn More</a></li>
      </ul>
    </section>

  </div>
</div>
